####################################################################################################
# Special
####################################################################################################

example.duckdns.org {
	respond /robots.txt 200 {
body "User-agent: *
Disallow: /"
	}
}





####################################################################################################
# Jellyfin
####################################################################################################

jellyfin.example.duckdns.org {
	respond /robots.txt 200 {
body "User-agent: *
Disallow: /"
	}
	reverse_proxy jellyfin:8096
}
